.container {
  display: flex;
}

.toolbar {
  width: 175px;
  padding: 10px;
}

.canvas {
  width: 600px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  position: relative;
}

.shape {
  margin-bottom: 2px;
}

.properties-panel {
  padding: 10px;
  border-left: 1px solid #ccc;
}

  
  

  

  