{% extends "base.html" %}
{% load allauth wagtailimages_tags %}
{% load account %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load webpack_loader %} {% load i18n %}

{% csrf_token %}
{{ form_c.as_p }}

    <!-- Login Model Dialog -->
    <!-- Modal -->
    <div class="modal fade py-36 px-40" id="login-modal" role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class=" bg-blue-200" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="text-2xl"><span class="glyphicon glyphicon-lock"></span> Login</h1>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
            <form role="form" action="{% url 'login_url' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="form-group text-black">
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username: </label>
                <input type="text" class="form-control" id="id_login" placeholder="Enter email">
                </div>
                
                <div class="form-group text-black">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password: </label>
                <input type="text" class="form-control" id="id_password" placeholder="Enter password">
                </div>

                <div class="checkbox form-inline">
                <label for="id_remember">
                    <pre>     Remember me: </pre><input type="checkbox" id="id_remember" value="" checked>
                </label>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-block bg-blue-500 hover:bg-blue-800 ring-blue-900"><span class="glyphicon glyphicon-off"></span> Login</button>
            </form>
            </div>
            <div class="modal-footer  text-black">
                <div class="mr-auto">
                    <button type="submit" class="btn text-white bg-red-500 hover:bg-red-70" style="text: black" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
                <p>  <a href="#">Sign Up</a></p>
                <p>   Forgot <a href="#">Password</a></p>
            </div>
        </div>
        
    </div>
    </div> 
    </div>
    <!-- Login Model Dialog  -->
    <script>
        $(document).ready(function(){
            $("#login_modal").click(function(){
            $("#login-modal").modal();
            });
        });
        document.addEventListener('DOMContentLoaded', (event) => {    
            var myModal = new bootstrap.Modal(document.getElementById("#login-modal"));
            myModal.show();
        });
    </script>